@tailwind base;
@tailwind components;
@tailwind utilities;

.open, .closed {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Define classes for open and closed states */
  .open {
    transform: rotate(0deg);
  }
  
  .closed {
    transform: rotate(180deg);
  }